@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

h1 {
	font-family: "Inconsolata", monospace;
	font-size: 84px;
	height: 72, 56px;
	font-weight: 3px;
	max-height: 200px;
	align-items: right;
	margin-right: -4rem;
}

.bracket {
	font-family: "Inconsolata", monospace;
	font-size: 84px;
	height: 72, 56px;
	font-weight: 10px;
	max-height: 200px;
	overflow-inline: hidden;
	margin-left: 9rem;
	padding-bottom: 1.3rem;
	padding-left: 66rem;
	position: absolute;
}

.hover-svg {
	transition: transform 0.5s ease-in-out;
}

.hover-svg:hover {
	border: 2px solid white;
	border-radius: 50%;
	transform: scale(1.09);
}

.hover-button {
	transition: transform 1.5s ease-in-out;
}

/* .hover-button:hover {
	transform: scale(1.09);
} */

.button {
	background-color: #ccc;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}

.button:hover {
	background-color: #999;
}

.button-group:hover .button {
	background-color: #ccc;
	color: #fff;
}

.button-group:hover .button:hover {
	@apply bg-gradient-to-r from-cyan-300 via-cyan-700 to-purple-950;
	color: #fff;
}

.button-group:hover .button:active {
	background-color: #000;
	color: #fff;
}
